<form #loginForm="ngForm" class="login-form container" [formGroup]="loginFromGroup" (ngSubmit)="onSubmit(loginForm.value)">
  <mat-form-field class="login-item" appearance="outline">
    <mat-label>Github username</mat-label>
    <input matInput placeholder="Github username" formControlName="githubUser">
    <mat-error *ngIf="!loginFromGroup.hasError('required')">
      Please enter an existing github user account
    </mat-error>
  </mat-form-field>

  <mat-form-field class="login-item" appearance="outline">
    <mat-label>Personal access token</mat-label>
    <input matInput placeholder="Personal access token" formControlName="token">
    <mat-error *ngIf="!loginFromGroup.hasError('required')">
      Please enter a valid personal access token for github gists, see
      <a target="_blank" href="https://github.com/settings/tokens">
        Github settings
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-error>
    <mat-hint>
      Create new token is possible on
      <a target="_blank" href="https://github.com/settings/tokens">
        Github settings
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-hint>
  </mat-form-field>

  <mat-checkbox formControlName="storeToken">Store personal access token in localStorage</mat-checkbox>

  <mat-form-field class="login-item" appearance="outline">
    <mat-label>Password for local storage</mat-label>
    <input matInput type="password" placeholder="Password for local storage" formControlName="localPassword">
    <mat-hint>
      Password is used to encrypt personal access token in local storage
    </mat-hint>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
</form>