<mat-toolbar color="primary" class="navbar-header">
  <a mat-button class="nav-button" routerLink="/" aria-label="Manulog">
    <img class="logo" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4d706163081185.5aa58ca104ac9.jpg"
      alt="angular">
    <span>Manulog</span>
  </a>
  <!-- <a mat-button class="nav-button" routerLink="library">Library</a> -->
  <!-- <a mat-button class="nav-button" routerLink="guides">Guides</a> -->

  <div class="flex-spacer"></div>

  <a *ngIf="!user" mat-button class="nav-button" routerLink="login" aria-label="Login">
    <i class="material-icons">person_outline</i>Login
  </a>

  <button *ngIf="user" mat-button [matMenuTriggerFor]="userActions">
    <img class=avatar [src]="user.avatar_url" />
    <label>{{user.name}}</label>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #userActions="matMenu">
    <button mat-menu-item (click)="logout()">
      Logout
    </button>
  </mat-menu>

</mat-toolbar>