<mat-toolbar color="primary" class="navbar-header">
  <a mat-button class="nav-button" routerLink="/" aria-label="Manulog">
    <img class="logo" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4d706163081185.5aa58ca104ac9.jpg" alt="angular">
    <span>Manulog</span>
  </a>
  <!-- <a mat-button class="nav-button" routerLink="library">Library</a> -->
  <!-- <a mat-button class="nav-button" routerLink="guides">Guides</a> -->
  
  <div class="flex-spacer"></div>

  <a mat-button class="nav-button" routerLink="login" aria-label="Login">
    <i class="material-icons">person_outline</i>Login
  </a>
</mat-toolbar>

